*{
    margin: 0;
    padding: 0;
}

/* <!-- ********************************** nevagation bar start  *************************************--> */
.logo_img{
        margin: -28px 0 0 0px;
        padding: 0px 11px 0 0<!DOCTYPE html>
        <html lang="en">
        
        <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Programming Knowledge</title>
          <link rel="icon" type="image/x-icon" href="./images/logo.jpeg">
          <link rel="stylesheet" href="style.css">
        </head>
        
        <body>
          <!-- ********************************** nevagation bar start  *************************************-->
          <div>
            <nav>
              <img class="logo_img" src="./images/logo glow2.png" alt="LOGO" width="200" height="90">
              <ul>
                <li>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Home
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    About
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    contact
                  </a>
                </li>
        
                <li>
                  <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    contact
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- ********************************** nevagation bar end  *************************************-->
        
          <!--************************** caroseal bar start ********************************** --> 
          <div class="slider">
            <div class="slider-items">
                <div  class="item active">
                   <img src="images/carosal1.jpeg" />
                   <!-- <div class="caption1">
                      Slide 1
                   </div> -->
                </div>
                <div  class="item">
                   <img src="images/carosal2.jpeg" />
                   <!-- <div class="caption2">
                      Slide 2
                   </div> -->
                </div>
                <div  class="item">
                   <img src="images/carosal3.jpeg" />
                   <!-- <div class="caption3">
                      Slide 3
                   </div> -->
                </div>
                <div  class="item">
                  <img src="images/carosal4.jpeg" />
                  <!-- <div class="caption3">
                     Slide 3
                  </div> -->
               </div>
               <div  class="item">
                <img src="images/carosal5.jpeg" />
                <!-- <div class="caption3">
                   Slide 3
                </div> -->
             </div>
        
            </div>
              <!-- slider controls -->
                <div class="left-slide"> < </div>
                <div class="right-slide">></div>
              <!-- slider controls -->
         </div>
        <!--************************** caroseal bar end ********************************** -->
        
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor labore animi hic eum perferendis nobis impedit itaque modi, et quos ratione fugit consequuntur deserunt dignissimos asperiores laborum cupiditate veritatis expedita illum ipsum alias! Voluptate enim aut porro culpa autem quaerat ab quos a perferendis nesciunt, consectetur dolores exercitationem, animi laborum asperiores incidunt labore! Eum, voluptatibus eius? Commodi eaque quod totam ipsum labore sequi soluta recusandae ducimus distinctio harum? Quam odit maiores dicta autem, voluptatibus laboriosam ratione, id nemo officiis porro commodi ut, harum consequuntur quis doloremque reprehenderit pariatur omnis amet. Ipsam inventore excepturi obcaecati ipsa eveniet dolore exercitationem enim adipisci tempore ut, voluptas perspiciatis incidunt, fugit ducimus pariatur. Ratione voluptatem itaque reprehenderit atque dicta? Dolore at earum reiciendis? Aliquid a mollitia obcaecati. Eligendi corrupti nostrum ex dignissimos vero praesentium suscipit sint nisi expedita ut asperiores commodi fugiat eveniet, obcaecati ipsum. Voluptatum velit explicabo perspiciatis molestias! Unde dolores totam similique repellendus itaque sunt amet doloremque enim iste expedita libero quisquam quis iure eos eius, fugit possimus soluta modi temporibus aliquam! Expedita cum dolore obcaecati dolorem eligendi. Fugit nisi itaque repudiandae doloribus repellat, delectus labore. Veniam quo inventore id assumenda vero laudantium maiores, harum rerum natus nulla eum omnis repudiandae nobis praesentium, corporis nemo quidem, alias accusamus officiis earum quos nisi? Facere doloremque, quia ut tempore quo veniam voluptatum id, necessitatibus quae fugiat exercitationem molestiae, quaerat dolor ipsa magnam maiores quos! Quidem reprehenderit aliquam saepe dicta, temporibus animi dolorum distinctio tenetur, incidunt ex doloribus quos nihil eos dignissimos consequuntur adipisci magni voluptatem veritatis assumenda pariatur, laudantium perferendis. Aperiam similique sint nemo veritatis culpa reprehenderit eos at dignissimos, eum sed dolore, soluta placeat odit provident atque expedita. Reprehenderit, laudantium. Ad vitae, modi ex maxime corporis numquam odit assumenda repudiandae esse dicta quas molestiae iste, deserunt porro omnis distinctio qui ut dolorum mollitia nemo. Voluptatum cum sit nesciunt numquam? Sequi deserunt eum error minima, aut reprehenderit, et vel debitis nesciunt amet itaque reiciendis nam numquam, inventore rerum incidunt. Ad doloremque culpa nemo magnam fuga accusamus facere placeat! Iusto nemo enim dolorum nesciunt quae quaerat. Aperiam consequatur quaerat ipsa cum assumenda provident error! Iusto minus consectetur, velit fugit hic perspiciatis quisquam. Veniam eligendi perferendis impedit quae unde architecto in officia omnis. Tempora voluptas iste error neque voluptatibus officia, ipsum quas culpa itaque explicabo, assumenda dolorum? Rerum ea nemo est nesciunt obcaecati, aliquid esse perferendis non a expedita consectetur sunt, molestiae nobis tempore. Asperiores saepe quia et laboriosam libero qui vitae in maxime sint inventore praesentium nihil rem ducimus, iste ea voluptate beatae quod, ut esse totam ullam nisi repellendus! Itaque doloremque impedit deleniti iste repudiandae saepe corporis recusandae cum esse at obcaecati soluta similique suscipit, assumenda tempore facere sapiente asperiores qui a? Debitis repellendus expedita porro eveniet natus. Iure excepturi exercitationem ipsum reprehenderit architecto pariatur impedit corporis corrupti! Illum enim doloremque deserunt ad deleniti minima quidem culpa. Debitis doloribus, vitae magnam facilis voluptatum tempora quisquam sint minima autem a praesentium eum asperiores, numquam quia ipsa inventore quis quaerat ducimus doloremque. Voluptatibus, earum dolorum. Rerum, adipisci!</h1>
        <script src="main.js"></script>
        </body>
        </html>px;
        height: 180%;
        width: 20%;
    }

nav{
    width: 100%;
    height: 80px;
    background-color:#0005;
    line-height: 80px;
    position: fixed;
    /* opacity:0.5; */
    z-index: 1;
    
}

ul{
    position: absolute;
    top: 37px;
    left: 79%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
    display: inline-block;
}

 ul li a{
   display: block;
   position: relative;
   width: 111px;
   height: 44px;
   line-height: 42px;
   font-size: 20px;
   text-align: center;
   text-decoration: none;
   color: rgb(7, 181, 250);
   margin: 0 0 12 0px;
   transition: .5s;

}

ul li a span{
    position: absolute;
    transition: transform .5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3){
    width: 100%;
    height: 1px;
    background: #fff;
}

ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
} 

ul li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4){
    width:1px ;
    height:100%;
    background:rgb(6, 1, 255);
}

ul li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2){
    transform: scale(1);   
    transform-origin: top;
    transition: transform .5s;
} 

ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(4){
    transform: scale(1);   
    transform-origin: top;
    transition: transform .5s;
} 

/* <!-- ********************************** nevagation bar end  *************************************--> */
/* body{
	background-color: #444444;
	font-family: sans-serif;
} */

.slider{
    height: 96vh;
	border:10px solid  #29a8e2;
	margin:0px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color:#ffffff;
  font-size: 20px;
  top:50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
 box-shadow: 0px 0px 10px black;
 background-color: #29a8e2;
}

.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	display: block;
    animation:zoom 1s ease;
    width: 100%;
    height: 50%;
}

@keyframes zoom{    
	0%{transform: scale(2);opacity: 0}
	50%{transform: scale(2);}
	100%{transform: scale(1);opacity:1}
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
/* .slider .slider-items .item .caption{
position: absolute;
width: 100%;
height: 60px;
bottom: 0px;
left: 0px;
background-color: rgba(0,0,0,.5);
line-height: 60px;
text-align: center;
color: #ffffff;
font-size: 30px;

} */

.slider .slider-items .item.active{
	display: block;
}

h1{
    color: red;
    font-family: cursive;
}








