
/* <!-- ***************************** team section start ****************************** --> */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper{
    background: #42aaaa;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #00b7ff;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }

/* <!-- ***************************** team section end ****************************** --> */

/* <!-- contact section start --> */

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../images/background3.jpeg');
  background-size: cover;
}

.contact .content{
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;

}

.contact .content p{
  font-weight: 300;
  color: #fff;
  
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactinfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactinfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactinfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactinfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactinfo .box .text h3{
  font-weight: 500;
  color: #00bcd4;
}

.contactform{
  width: 50%;
  padding: 40px;
  background: #fff;
}

.contactform h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputbox{
  position: relative;
  width: 100%;
  margin-top: 10px;

}

.contactform .inputbox input,
.contactform .inputbox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translatey(-20px);
}

.contactform .inputbox input[type="submit"]{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  
}

@media (max-width: 991px){
  .contact{
    padding:50px
  }
  .container{
    flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
}

.container .contactinfo,
.contactform{
  width: 100px;
}
}
/* <!-- contact section end --> */